<div class="bg-dark text-white p-3 vh-100" style="width:250px;">
    <h5 class="mb-4">Dashboard</h5>

    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">Students</a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">Subjects</a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">Marks</a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">Attendance</a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">Publish</a>
        </li>
    </ul>
</div>
